<div class="contacts-wrapper">
    <div class="header">
      <div class="menu">
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/blog']">Blog</a>
      </div>
      <div class="right-menu">
        <button (click)="signOut()">Sign out</button>
      </div>
    </div>
    <h2>Contacts</h2>
    <p>Phone: +7 (999) 777-55-33</p>
    <p>Email: someemail@example.com</p>
    <p>Address: Bol'shaya Sadovaya Ulitsa, 71-75, Rostov-on-Don, Rostov Oblast, 344002</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d677.4210913800547!2d39.718320829218996!3d47.22275790950867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3b9df94b464a1%3A0x2e4c345f300dcb2e!2z0JrQvtC80L_Qu9C10LrRgSDQt9C00LDQvdC40Lkg0YLRgNC10YHRgtCwIMKr0KDQvtGB0YLQvtCy0YPQs9C-0LvRjMK7!5e0!3m2!1sen!2sru!4v1587621354779!5m2!1sen!2sru" width="700" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>